.section__facility {
  height: calc(100vh - 8.6rem);
  display: flex;
  position: relative;
  background-color: #B48D71;
}
.section__facility .wrapper {
  height: calc(100vh - 8.6rem);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section__facility .wrapper .carrousel {
  width: 30%;
  height: auto;
  max-width: 40rem;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
.section__facility .wrapper .carrousel .slider {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 400%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: all ease 500ms;
  justify-content: space-between;
  transform: translateX(0%);
  padding: 1.5em;
}
.section__facility .wrapper .carrousel .slider img {
  border-radius: 18em;
  width: calc(25% - 2em);
  min-height: 10vh;
}
.section__facility .wrapper .carrousel .slider__buttons-ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.section__facility .wrapper .carrousel .slider__buttons-ul .slider__button {
  width: 2rem;
  height: 1rem;
  background-color: #795742;
  transition: all ease 200ms;
  cursor: pointer;
}
.section__facility .wrapper .carrousel .slider__buttons-ul .slider__button.active {
  background-color: #5C3018;
}
.section__facility .wrapper > div:not(.carrousel) {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 50%;
}
.section__facility .wrapper > div:not(.carrousel) h2 {
  font-size: 10rem;
  color: #EFE5DD;
}
.section__facility .wrapper > div:not(.carrousel) p {
  font-size: 2rem;
  color: #5C3018;
}
.section__facility .wrapper > div:not(.carrousel) p, .section__facility .wrapper > div:not(.carrousel) h2 {
  padding-right: 4rem;
}

@media screen and (max-width: 780px) {
  .section__facility .wrapper {
    flex-direction: column-reverse;
  }
  .section__facility .wrapper > div:not(.carrousel) {
    width: 100%;
    gap: 0;
  }
  .section__facility .wrapper > div:not(.carrousel) h2 {
    font-size: clamp(5rem, 10vw + 1rem, 10rem);
    margin: 4rem 0;
    padding-right: 2rem;
  }
  .section__facility .wrapper > div:not(.carrousel) p {
    font-size: clamp(1.4rem, 4vw, 2rem);
    padding: 0 2rem;
  }
  .section__facility .wrapper .carrousel {
    width: clamp(20rem, 30%, 22rem);
    margin: auto;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  height: 8.6rem;
  min-height: 8.6rem;
  width: 100%;
  padding: 2rem 3rem;
  color: #5C3018;
  background-color: #EFE5DD;
}
header div:first-child {
  display: flex;
  font-size: 4rem;
  align-items: center;
  gap: 1.5rem;
}
header div:first-child p {
  margin: 0;
}
header div:first-child img {
  width: 5rem;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  font-size: 2rem;
  color: #795742;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  color: #B48D71;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
}
header nav ul li:hover {
  color: #5C3018;
  outline: solid 1px #5C3018;
}
header .cartContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .cartContainer img {
  height: 3.3rem;
}
header .cartContainer span {
  outline: solid 1px #795742;
  border-radius: 1rem;
  width: 2rem;
  height: 3.3rem;
}
header .toggler {
  display: none;
}

@media screen and (max-width: 780px) {
  header {
    justify-content: flex-start;
  }
  header nav ul {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    inset: 0 0 0 30%;
    padding: min(20vh, 15rem) min(10vh, 5rem);
    background-color: rgba(180, 141, 113, 0.1019607843);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    transition: all ease 300ms;
  }
  header nav ul.hidden {
    transform: translateX(100%);
  }
  header nav ul li {
    color: #795742;
  }
  header nav ul li:hover {
    outline: none;
  }
  header nav ul li:first-child {
    margin-top: 2rem;
  }
  header nav ul .toggler {
    position: absolute;
    top: 50%;
    left: -2.5rem;
    transform: translate(0, -50%);
    height: 5rem;
    width: 2.5rem;
    border-radius: 150px 0 0 150px;
    background-color: rgba(180, 141, 113, 0.1019607843);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 200ms;
    cursor: pointer;
  }
  header nav ul .toggler.active {
    transform: translate(0, -50%) rotate(180deg);
    left: 0;
  }
  header nav ul .toggler:hover {
    color: #5C3018;
  }
  header .cartContainer {
    margin-left: auto;
  }
}
@media screen and (max-width: 470px) {
  .logo-title {
    display: none;
  }
}
.section__landing {
  height: calc(100vh - 8.6rem);
  display: flex;
  position: relative;
}
.section__landing .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 8.6rem);
  width: 90%;
  padding: 2rem 4rem;
}
.section__landing .wrapper .mini-title {
  display: none;
}
.section__landing .wrapper h1 {
  margin: 0;
  font-size: 12rem;
  color: #5C3018;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.section__landing .wrapper p {
  width: 50%;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  color: #6C949C;
}
.section__landing .wrapper img {
  position: absolute;
  width: 30rem;
  z-index: -1;
  right: 7rem;
  bottom: 12rem;
}

@media screen and (max-width: 845px) {
  .section__landing {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }
  .section__landing .wrapper {
    width: 100%;
    padding: 2rem 2rem;
  }
  .section__landing .wrapper h1 {
    font-size: clamp(5rem, 10vw + 2rem, 14rem);
  }
  .section__landing .wrapper p {
    width: 60%;
  }
  .section__landing .wrapper img {
    width: clamp(15rem, 20vw + 1rem, 30rem);
    bottom: 10rem;
  }
}
@media screen and (max-width: 470px) {
  .section__landing .wrapper .mini-title {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: bold;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100vw;
  scroll-behavior: smooth;
  scroll-padding-top: 4.6rem;
}

body {
  background-color: #EFE5DD;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */